<div class="login-container">
    <h1>Sign In</h1>
    <form class="login-form" id="login-form">
        <span class="error-message server-error" id="login-serverside-error"></span>

        <div class="input-group">
            <label for="identifier">Full Name</label>
            <input name="identifier" type="text" id="identifier" placeholder="e.g. John Smith">
            <span class="error-message" id="identifier-error"></span>
        </div>

        <div class="input-group">
            <label for="current-password">Date of Birth</label>
            <input name="current-password" type="password" id="current-password" placeholder="YYYY-MM-DD">
            <span class="error-message" id="password-error"></span>
        </div>

        <button type="submit">Login</button>
    </form>
</div>