<div>
    <div>
        <div class="tasks-h1">
            <h1>Tasks</h1>
            <button class="add-button">+</button>
        </div>

        <div class="task-status-container">
            <div class="task-block status-todo">
                <div class="task-block-header">
                    <span>Todo</span>
                    <span class="task-count">0</span>
                </div>
                <ul class="task-list todo-list">
                    <h3>No tasks yet</h3>
                </ul>
            </div>

            <!-- In Progress Tasks -->
            <div class="task-block status-in-progress">
                <div class="task-block-header">
                    <span>In Progress</span>
                    <span class="task-count">0</span>
                </div>
                <ul class="task-list in-progress-list">
                    <h3>No tasks yet</h3>
                </ul>
            </div>

            <!-- Done Tasks -->
            <div class="task-block status-done">
                <div class="task-block-header">
                    <span>Done</span>
                    <span class="task-count">0</span>
                </div>
                <ul class="task-list done-list">
                    <h3>No tasks yet</h3>
                </ul>
            </div>

            <!-- Archived Tasks -->
            <div class="task-block status-archived">
                <div class="task-block-header">
                    <span>Archived</span>
                    <span class="task-count">0</span>
                </div>
                <ul class="task-list archived-list">
                    <h3>No tasks yet</h3>
                </ul>
            </div>
        </div>
    </div>
</div>