.header {
    grid-area: h;
    background: #1e1e1e;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    padding-inline: 30px;
    align-items: center;
    color: #ffffff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.header div {
    width: auto;
    height: auto;
}

.header .header-title {
    cursor: pointer;
    font-size: 20px;
    font-weight: bolder;
    color: #f0f0f0;
}

.header .header-user-related {
    display: flex;
    gap: 60px;
}

.user-name {
    display: none;
    position: relative;
}

.user-name a {
    font-size: 20px;
    padding-left: 10px;
    color: #cccccc;
    text-decoration: none;
    transition: color 0.2s ease-in-out;
}

.user-popup {
    display: none;
    position: absolute;
    top: 23px;
    left: 50%;
    transform: translateX(-60%);
    background-color: #333;
    color: white;
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.user-name:hover .user-popup,
.user-name:focus .user-popup,
.user-name:focus-within .user-popup {
    display: flex;
    width: 100px;
    min-width: 100px;
    height: auto;
    flex-direction: column;
}

.user-popup button {
    padding: 5px 10px;
    background-color: #4a4a4a;
    color:white;
    border: 1px solid black;
    border-radius: 2px;
    transition: 0.3s;
    font-size: 15px;
}

.user-popup button:hover {
    background-color: white;
    color:black;
}

/* New notifications styles */

.bell-notifications{
    display: none;
    position: relative;
}

.bell-notifications .animation {
    animation: pulse 1.5s infinite;
}

.bell-notifications .dot {
    position: absolute;
    top: 0;
    right: 0;
    width: 10px;
    height: 10px;
    background-color: #ff3b30;
    border-radius: 50%;
}

@keyframes pulse {
    0% { transform: skewX(-15deg); }
    5% { transform: skewX(15deg); }
    10% { transform: skewX(-15deg); }
    15% { transform: skewX(15deg); }
    20% { transform: skewX(0deg); }
    100% { transform: skewX(0deg); }
}

.notifications-popup {
    display: none;
    position: absolute;
    top: 23px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #333;
    color: white;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    z-index: 10;
}

.bell-notifications:hover .notifications-popup,
.bell-notifications:focus .notifications-popup,
.bell-notifications:focus-within .notifications-popup {
    display: flex;
    width: 300px;
    min-width: 100px;
    height: auto;
    flex-direction: column;
}

.notification-item {
    width: 100%;
    display: flex;
    align-items: center;
    padding: 10px 15px;
    border-bottom: 1px solid #444;
}

.notification-item:last-child {
    border-bottom: none;
}

.avatar {
    border-radius: 50%;
    margin-right: 15px;
    background-color: black;
    padding: 8px;
}

.notification-content {
    flex: 1;
}

.notification-user-name {
    font-weight: bold;
    color: white;
    font-size: 16px;
}

.notification-message {
    color: #ddd;
    font-size: 14px;
    margin-top: 5px;
    max-width: 200px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.notification-item:hover {
    border-bottom: 2px solid #121111;
    cursor: pointer;
}

.user-authorization {
    display: flex;
    gap: 10px;
    margin-left: auto;
    padding: 10px;
}

.user-authorization button {
    padding: 8px 16px;
    border: none;
    border-radius: 8px;
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.user-authorization .login {
    background-color: #4a90e2;
    color: white;
}

.user-authorization .signUp {
    background-color: #7ed957;
    color: white;
}

.user-authorization .login:hover {
    background-color: #357ab8;
}

.user-authorization .signUp:hover {
    background-color: #64c244;
}