*, body, html {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    height: 100%;
}

.root {
    display: grid;
    grid-template-areas:
        "h h"
        "n m";
    grid-template-columns: 1fr 7fr;
    grid-template-rows: 1fr 10fr;
    gap: 10px;
    height: 100%;
    padding: 10px;
}

.navbar {
    grid-area: n;
    background: #f7f7f7;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding-top: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.content {
    grid-area: m;
    background: #ffffff;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
